<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-stroked-button routerLink="" routerLinkActive="mat-accent">Iniciar Sesión</button>
    <button mat-stroked-button routerLink="/all-vehicles" routerLinkActive="mat-accent" style="margin-left: 10px">Ver todos los vehiculos</button>
    <button mat-stroked-button routerLink="/vehicles/" routerLinkActive="mat-accent" style="margin-left: 10px">Ver vehiculos por sucursal</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
